li, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
}

.movie-name{
  padding: 10px 10px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  width: 1000px;
  background: rgb(237, 242, 244);
}

.no-show{
    display: none;
  }
  
  

